<!-- (click)="exploreCategory(item)" -->
<nz-row style="padding: 15px;">
  <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="Categories" nzSubtitle="Below are Categories for Videos"> </nz-page-header>
  <nz-row style="padding: 10px;">
    <input nz-input placeholder="Enter search" [(ngModel)]="search" />
  </nz-row>
  <nz-row style="padding: 15px;">
    <nz-list
      [nzDataSource]="(categories || []) | searchFilter : search : 'name'"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content"
        [nzActions]="[starAction, likeAction, msgAction]"
        [nzExtra]="extra"
        [routerLink]="['/category/' + item.videoCategoryId ]"
      >
          <ng-template #likeAction><i nz-icon type="like-o" style="margin-right: 8px;"></i> {{ item.likes }} </ng-template>
          <nz-list-item-meta [nzAvatar]="item.avatar" [nzTitle]="nzTitle" >
            <ng-template #nzTitle><a href="{{ item.href }}">{{ item.name }}</a></ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" [src]="item.img" />
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #footer>
        <div><b>ant design</b> footer part</div>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="((categories || []) | searchFilter : search : 'name').length" (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-row>
</nz-row>
