<nz-layout class="full-screen">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="260">
    <app-sidebar
      [username]="username"
      [isCollapsed]="isCollapsed"
    ></app-sidebar>
  </nz-sider>
  <nz-content class="container">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
