  <div class="header-wrapper">
    <img src="./assets/img/default-avatar.png">
    <span class="username-text" *ngIf="!isCollapsed">
      {{ username }}
    </span>
  </div>

  <div class="list-wrapper">
    <ul nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'inline'"
      [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item [nzSelected]="routeIsActive('/home')" [routerLink]="['/home']">
          <span>
            <i nz-icon type="home"></i>
            <span class="nav-text">Home</span>
          </span>
        </li>
        <li nz-menu-item [nzSelected]="routeIsActive('/categories')" [routerLink]="['/categories']">
          <span>
            <i nz-icon type="appstore"></i>
            <span class="nav-text">Video Categories</span>
          </span>
        </li>
      </ul>
    </div>
