/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
div.header-wrapper {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  line-height: 0;

}

div.header-wrapper img {
  margin-left: 8px;
  width: 40px;
  height: 40px;
}

div.header-wrapper .username-text {
  margin-left: 8px;
  flex: 1;
  line-height: 40px;
  font-size: 14px;
  color: white;
}

div.header-wrapper .header-btn {
  color: white;

}

div.header-wrapper .header-btn i {
  font-size: 18px;
}

.list-wrapper {
  top: 60px;
  bottom: 48px;
  width: 100%;
  padding-bottom: 20px;
  height: calc(100vh - 110px);
}

.list-wrapper .add-list-btn-wrapper {
  margin-top: 8px;
  text-align: center;
}

.ant-avatar {
  width: 60px !important;
  height: 60px !important;
}

.ant-comment-avatar img {
  width: 60px !important;
  height: 60px !important;
}

.ant-list-item {
  background: white;
  border-radius: 5px;
  padding: 5px;
  margin: 15px 0px;
}
