<ng-container>
    <nz-layout class="container-content">
        <nz-content>
          <!-- Home Content Starts -->
          <nz-comment nzAuthor="Hello there," [nzDatetime]="time">
              <nz-avatar
                nz-comment-avatar
                nzIcon="user"
                nzSrc="assets/img/default-avatar.png"
              ></nz-avatar>
              <nz-comment-content>
                <p>Greetings of the day!!</p>
                <p>Click on
                  '<a [routerLink]="['/categories']" routerLinkActive="router-link-active" >Video Categories</a>'
                  to get started.</p>
              </nz-comment-content>
            </nz-comment>
          <!-- Home Content Ends -->
        </nz-content>
      </nz-layout>
</ng-container>
