
.container-content {
  position: relative;
  height: 100%;

}

.container-content .header-wrapper {
  min-height: 100px;
  padding: 0;
  background-color: white;
}

.container-content .list-wrapper {
  overflow: scroll;
}

.container-content .quick-add-wrapper {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 400px;
  transform: translate3d(-50%, 0, 0);
  transition: 0.2s ease all;

}

.container-content.center {
  bottom: 50%;
}
