<nz-row style="padding: 15px;">
  <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="Videos" [nzSubtitle]="data.name"> </nz-page-header>
  <nz-row style="padding: 10px;">
    <input nz-input placeholder="Enter search" [(ngModel)]="search" />
  </nz-row>
  <nz-row style="padding: 15px;">
    <nz-list
      [nzDataSource]="(data.videos || []) | searchFilter : search : 'title'"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content" [nzActions]="[starAction, likeAction, msgAction]" [nzExtra]="extra">
          <nz-list-item-meta [nzAvatar]="item.avatar" [nzTitle]="nzTitle" [nzDescription]="item.description">
            <ng-template #nzTitle
              ><a href="javascript:void(0)">{{ item.title }}</a></ng-template
            >
          </nz-list-item-meta>
          <ng-template #extra>
            <video controls [poster]="item.img" width="400" height="auto">
              <source [src]="item.videoUrl" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <br>
            <nz-tag *ngFor="let t of item.tags">{{t}}</nz-tag>
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="((data.videos || []) | searchFilter : search : 'title').length" (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-row>
</nz-row>
